*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(360deg, #001339, #7069ff); 
}
h1, p{
    color: aliceblue;
    text-align: center;
}
.hw{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
